mixin button(href)
  a(
    href=href,
    target='_blank',
    style='\
      border-radius: 5px;\
      color: white;\
      display: inline-block;\
      font-weight: bold;\
      text-decoration: none;\
      background-color: #{colorPrimary};\
      padding: .75em 2.5em;\
      line-height: normal;\
    '
  )
    block

mixin image(src, alt, width, height)
  img(
    alt=alt,
    class='image_fix',
    height=height,
    src=src,
    width=width,
  )

mixin contentBlock()
  doctype strict
  html(xmlns='http://www.w3.org/1999/xhtml')
    include ../partials/head

    body
      // Wrapper/Container Table:
      // Use a wrapper table to control the width and the background color
      // consistently of your email. Use this approach instead of setting
      // attributes on the body tag.
      table#backgroundTable(
        cellpadding='0',
        cellspacing='0',
        border='0'
      )
        tr
          td
            block
            br
            br
            include ../partials/sign-off

mixin title()
  h1(
    style='\
      font-size: 24px;\
      letter-spacing: .015em;\
      margin-bottom: 2em;\
    '
  )
    block

mixin link(href)
  a(
    href=href
    style="font-size:12px;"
    target='_blank'
  )
    block

mixin smallText()
  div(style="font-size:12px;")
    block

mixin smallerText()
  div(style="font-size:9px;")
    block
